* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    background-color:rgb(50 22 22);
}

header {
    background-color:rgb(50 22 22);
    height: 60px;
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
}

a {
    text-decoration: none;
    color: red;
}

a:hover {
    color: blue;
}

header>nav>a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    padding-right: 100px;
}

header img {
width: 300px;
height: 250px;
display: flex;
justify-content: start;
align-items: start;
}

main {
    border-radius: 20px;
    background-image: url(img/i.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    height: 100vh;
    margin: 40px 300px 40px 300px;
    display: grid;
    overflow:scroll;
    font-size: 15px;
    position: relative;
}

h1 {
    padding-top: 20px;
    display:flex;
    justify-content: center;
    align-items: start;
    font-size: 80px;
    line-height: 5px;
    letter-spacing: 10px;
    font-style: italic;
    text-shadow: 10px 9px 5px  black;
}

h2 {
    font-style: italic;
    font-size: 40px;
    padding-left: 75px;
}

section ul li {
    display: flex;
    padding: 5px 0 10px 20px;
    letter-spacing: 2px;
    font-size: 20px;

}

section p {
    display: flex;
    padding: 5px 0 5px 20px;
    letter-spacing: 2px;
    font-size: 20px;
}
.About_me {
    width: 1500px;
}

.myCode {
    display:table-caption;
}

.myfoto>img {
    display: flex;
    justify-content: flex-end;
    width: 350px;
    height: 350px;
    background-color: black;
    border-radius: 20px;
}

main>section>.myfoto {
    display: flex;
    justify-content: end;
    padding-top: 10px;
}

footer {
    background-color: rgb(50 22 22);
    height: 150px;
}

footer>.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer>.data {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 20px;
}

.footer>a>img {
    width: 150px;
    height: 100px;
}

@media (max-width: 2100px) {
    body {
        overflow-x: hidden;
        background-color:rgb(50 22 22);
    }
    
    header {
        background-color:rgb(50 22 22);
        height: 40px;
        display: flex;
        justify-content: space-between;
    }
    
    nav {
        display: flex;
    }
    
    a {
        text-decoration: none;
        color: red;
    }
    
    a:hover {
        color: blue;
    }
    
    header>nav>a {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        padding-right: 100px;
    }
    
    header img {
    width: 300px;
    height: 250px;
    display: flex;
    justify-content: start;
    align-items: start;
    }
    
    main {
        border-radius: 20px;
        background-image: url(img/i.webp);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
        height: 100vh;
        margin: 40px 300px 40px 300px;
        display: grid;
        overflow:scroll;
        font-size: 10px;
        position: relative;
    }
    
    h1 {
        padding-top: 20px;
        display:flex;
        justify-content: center;
        align-items: start;
        font-size: 60px;
        line-height: 5px;
        letter-spacing: 10px;
        font-style: italic;
        text-shadow: 10px 9px 5px  black;
    }
    
    h2 {
        font-style: italic;
        font-size: 30px;
        padding-left: 65px;
    }
    
    section ul li {
        display: flex;
        padding: 5px 0 10px 20px;
        letter-spacing: 2px;
        font-size: 15px;
    
    }
    
    section p {
        display: flex;
        padding: 5px 0 5px 20px;
        letter-spacing: 2px;
        font-size: 15px;
    }
    .About_me {
        width: 1000px;
    }
    
    .myCode {
        display:table-caption;
    }
    
    .myfoto>img {
        display: flex;
        justify-content: flex-end;
        width: 350px;
        height: 350px;
        background-color: black;
        border-radius: 20px;
    }
    
    main>section>.myfoto {
        display: flex;
        justify-content: end;
        padding-top: 10px;
    }
    
    footer {
        background-color: rgb(50 22 22);
        height: 150px;
    }
    
    footer>.footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    footer>.data {
        display: flex;
        justify-content: center;
        color: white;
        font-size: 15px;
    }
}

@media (max-width: 1600px) {
    body {
        overflow-x: hidden;
        background-color:rgb(50 22 22);
    }
    
    header {
        background-color:rgb(50 22 22);
        height: 40px;
        display: flex;
        justify-content: space-between;
    }
    
    nav {
        display: flex;
    }
    
    a {
        text-decoration: none;
        color: red;
    }
    
    a:hover {
        color: blue;
    }
    
    header>nav>a {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        padding-right: 100px;
    }
    
    header img {
    width: 300px;
    height: 250px;
    display: flex;
    justify-content: start;
    align-items: start;
    }
    
    main {
        border-radius: 20px;
        background-image: url(img/i.webp);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
        height: 100vh;
        margin: 40px 300px 40px 300px;
        display: grid;
        overflow:scroll;
        font-size: 10px;
        position: relative;
    }
    
    h1 {
        padding-top: 20px;
        display:flex;
        justify-content: center;
        align-items: start;
        font-size: 40px;
        line-height: 5px;
        letter-spacing: 10px;
        font-style: italic;
        text-shadow: 10px 9px 5px  black;
    }
    
    h2 {
        font-style: italic;
        font-size: 20px;
        padding-left: 65px;
    }
    
    section ul li {
        display: flex;
        padding: 5px 0 10px 20px;
        letter-spacing: 2px;
        font-size: 10px;
    
    }
    
    section p {
        display: flex;
        padding: 5px 0 5px 20px;
        letter-spacing: 2px;
        font-size: 10px;
    }
    .About_me {
        width: 500px;
    }
    
    .myCode {
        display:table-caption;
    }
    
    .myfoto>img {
        display: flex;
        justify-content: flex-end;
        width: 250px;
        height: 250px;
        background-color: black;
        border-radius: 20px;
    }
    
    main>section>.myfoto {
        display: flex;
        justify-content: end;
        padding-top: 10px;
    }
    
    footer {
        background-color: rgb(50 22 22);
        height: 150px;
    }
    
    footer>.footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    footer>.data {
        display: flex;
        justify-content: center;
        color: white;
        font-size: 15px;
    }
}

@media (max-width: 1200px) {
    body {
        overflow-x: hidden;
        background-color:rgb(50 22 22);
    }
    
    header {
        background-color:rgb(50 22 22);
        height: 40px;
        display: flex;
        justify-content: space-between;
    }
    
    nav {
        display: flex;
    }
    
    a {
        text-decoration: none;
        color: red;
    }
    
    a:hover {
        color: blue;
    }
    
    header>nav>a {
        display: flex;
        font-size: 30px;
        padding-right: 300px;
        padding-top: 50px;
    }
    
    header img {
    width: 50px;
    height: 50px;
    display: flex;
    margin-left: 150px;
    margin-top: 20px;
    }
    
    main {
        border-radius: 20px;
        background-image: url(img/i.webp);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
        height: 100vh;
        margin: 70px 200px 30px 200px;
        display: grid;
        overflow:scroll;
        font-size: 10px;
        position: relative;
    }
    
    h1 {
        padding-bottom: 20px;
        padding-top: 20px;
        display:flex;
        justify-content: center;
        align-items: start;
        font-size: 20px;
        line-height: 5px;
        letter-spacing: 10px;
        font-style: italic;
        text-shadow: 10px 9px 5px  black;
    }
    
    h2 {
        font-style: italic;
        font-size: 10px;
        padding-left: 65px;
    }
    
    section ul li {
        display: flex;
        padding: 5px 0 10px 20px;
        letter-spacing: 2px;
        font-size: 10px;
    
    }
    
    section p {
        display: flex;
        padding: 5px 0 5px 20px;
        letter-spacing: 2px;
        font-size: 10px;
    }
    .About_me {
        width: 250px;
    }
    
    .myCode {
        display:table-caption;
    }
    
    .myfoto>img {
        display: flex;
        justify-content: center;
        width: 150px;
        height: 150px;
        background-color: black;
        border-radius: 20px;
    }
    
    main>section>.myfoto {
        display: flex;
        justify-content: end;
        padding-top: 10px;
    }
    
    footer {
        background-color: rgb(50 22 22);
        height: 150px;
    }
    
    footer>.footer {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    footer>.data {
        display: flex;
        justify-content: center;
        color: white;
        font-size: 15px;
    }
    .footer>a>img {
        width: 100px;
        height: 50px;
    }
}