body {
  background-color: black;
}

.main {
  width: 100%;
  // height: 1200px;
  background-color: black;
}

// mi image
.container-main-div {
  display: flex;
  width: 100%;
  gap: 2rem;
  @media (max-width: 1100px) {
    & {
      flex-direction: column;
    }
  }
}

.container-May-Img-section {
}

.div-img-may {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translate(-17rem, -19rem);

  @media (max-width: 600px) {
    & {
      transform: translate(-11rem, -10rem);
    }
  }
}

.may-img {
  // border-radius: 50%;
  width: 40rem;
  height: auto;
  @media (max-width: 400px) {
    & {
      width: 20rem;
    }
  }
}
// mi image

// about mi
.container-about-my {
  margin-top: 6rem;
  @media (max-width: 1100px) {
    & {
      margin: 0;
    }
  }
}

.about-my-profele {
  text-align: center;
  width: 90%;
  @media (max-width: 1100px) {
    & {
      width: auto;
      margin: 0 10px;
    }
  }
}

.aboutMyTitle {
  font-size: 3vw;
  color: white;
  @media (max-width: 1100px) {
    & {
      font-size: 2rem;
    }
  }
}

.infoAboutMeP {
  margin-top: 2rem;
  font-size: 1.5rem;
  color: #6b6b6b;
  @media (max-width: 1100px) {
    & {
      font-size: 1rem;
    }
  }
}
// about mi

// section languages

.containerMiInfo {
  z-index: 99;
  top: 51vw;
  left: 21vw;
  background-color: gold;
  opacity: 0.7;
  width: 20vw;
}

.sectionTitleName {
  background-color: gold;
  transform: translate(9rem, 0rem);
}

.titleNameH3 {
  font-size: 1.5rem;
  margin: 0 1.5rem;
  color: white;
  border-bottom: solid 2px black;
  text-shadow: 0rem 0rem 1rem #6b6b6b;
}

.mi-location {
  color: white;
  font-size: 1rem;
}

.container-languages {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.container-my-scil-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  position: relative;
}

.container-my-scil {
}

.title-languages {
  font-size: 3vw;
  margin-top: 1rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerHtmlImg {
}

.container-html {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.radiusHTML {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  border: solid 1px wheat;
  border-radius: 50%;
  width: 10vw;
  height: 10vw;
}

.canvasHTML {
  position: absolute;
  top: 0;
  left: 0;
  width: 10vw;
  height: 10vw;
  display: block;
  z-index: 1;
}

.pTitleRadius {
  font-size: 3vw;
  position: absolute;
  color: white;
  z-index: 2;
  font-weight: bold;
}

.img-html {
  width: 4vw;
}

.container-css {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.radiusCSS {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  border: solid 1px wheat;
  border-radius: 50%;
  width: 10vw;
  height: 10vw;
}

.canvasCSS {
  width: 10vw;
  height: 10vw;
  display: block;
}

.img-css {
  width: 4vw;
}

.img-sass {
  width: 4vw;
}

.container-js {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.radiusJS {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  border: solid 1px wheat;
  border-radius: 50%;
  width: 10vw;
  height: 10vw;
}

.canvasJS {
  width: 10vw;
  height: 10vw;
  display: block;
}

.img-js {
  width: 4vw;
}

.img-ts {
  width: 4vw;
}

.container-WB {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.radiusWB {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  border-radius: 50%;
  border: solid 1px wheat;
  width: 10vw;
  height: 10vw;
}

.canvasWB {
  width: 10vw;
  height: 10vw;
  display: block;
}

.img-WB {
  width: 4vw;
}

.img-MD {
  width: 4vw;
  background-color: white;
  border-radius: 50%;
}

.imgGit {
  width: 4vw;
}
// section languages

// contact my
.container-Contact-My {
  display: flex;
  flex-direction: column;
}

.contact-My-H3 {
  margin-top: 3vw;
  font-size: 3vw;
  width: 100%;
  color: white;
  text-align: center;
}

.contactMyDiv {
  display: flex;
  justify-content: space-around;
}

.containerImageMe {
  width: 12vw;
}

.imageMe {
  border: solid 2px gold;
  width: 11vw;
  height: 11vw;
  border-radius: 50%;
}

.containerMePhon {
}

.colMeP {
  width: fit-content;
  height: fit-content;
  margin-bottom: 5rem;
  color: white;
  cursor: pointer;
  transition: 1s;
  font-size: 2vw;
  @media (max-width: 1100px) {
    & {
      margin-bottom: 1rem;
    }
  }
}

.colMeP:hover {
  color: gold;
  transition: 1s;
}

.mePhonP {
  font-size: 2vw;
  color: white;
}

.mePhonP:hover {
  transition: 1s;
  background: linear-gradient(90deg, red, gold, gold, gold);
  -webkit-background-clip: text;
  color: transparent;
}
.containerMeEmail {
}

.meEmailP {
  width: fit-content;
  height: fit-content;
  margin-bottom: 5rem;
  color: white;
  cursor: pointer;
  transition: 1s;
  font-size: 2vw;
  @media (max-width: 1100px) {
    & {
      margin: 0rem;
    }
  }
}

.meEmailP:hover {
  color: gold;
  transition: 1s;
}

.mailA {
  text-decoration: none;
  font-size: 2vw;
  color: white;
  // transition: 2s;
}

.mailA:hover {
  transition: 1s;
  background: linear-gradient(90deg, red, gold, gold, gold);
  -webkit-background-clip: text;
  color: transparent;
}

.colorGold {
  transition: 1s;
  color: gold;
}
// contact my

.container-Me-Diploma {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.title-H3-Diploma {
  margin-top: 3vw;
  font-size: 3vw;
  width: 100%;
  color: #fff;
  text-align: center;
  color: white;
}

.section-Me-Diploma {
  width: 55vw;
  height: 25vw;
  background-color: rgb(0, 0, 0);
  margin: 3vw 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.containerScrollDiploma {
  width: 75%;
  overflow: hidden;
}

.sectionSlider {
  background-color: rgb(0, 0, 0);
  display: flex;
  transition: transform 0.5s ease;
}

.buttonLeft {
  width: 3vw;
  height: 3vw;
  border-radius: 0px 10px 10px 0px;
  background-color: #6b6b6b;
  border: solid 0px;
  cursor: pointer;
}

.spanButtonLeft {
  font-size: 1.5vw;
  transition: 1s;
}

.spanButtonLeft:hover {
  transition: 1s;
  margin-right: 20px;
}

.buttonRight {
  width: 3vw;
  height: 3vw;
  border-radius: 10px 0px 0px 10px;
  background-color: #6b6b6b;
  border: solid 0px;
  cursor: pointer;
}

.spanButtonRight {
  font-size: 1.5vw;
  transition: 1s;
}

.spanButtonRight:hover {
  transition: 1s;
  margin-left: 20px;
}

.button {
  transition: 1s;
}

.button:hover {
  border: solid 1px white;
  transition: 1s;
  background-color: gold;
}

.dipA1 {
  flex: 0 0 100%;
}

.firstDipImg {
  width: 100%;
  height: 100%;
}
